<div class="grid-video">
  <% @videos[0..-2].each do |video| %>
    <div class="video-thumbnail">
      <%= link_to image_tag(video[:image], size: "255x150", alt: "#{video[:title]}"), video_path(video[:id]) %>
      <div class="title-video"></div>
      <% if video[:subscription] %>
        <div class="badge"> Premium Content</div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="page-container">
	<% unless @pagination[:previous_page].nil? %>
		<%= link_to "<< prev", videos_path(page: @pagination[:previous_page]), class: "page-button mr-10" %>
	<% end %>
	<% unless @pagination[:next_page].nil? %>
		<%= link_to "next >>", videos_path(page: @pagination[:next_page]), class: "page-button ml-10" %>
	<% end %>
</div>
