<div class="content-video">	
	<div id='<%= "zype_#{@video[:id]}" %>'></div>
	<script src="<%= @video[:embeded_player] %>" type="text/javascript"></script>
	<% if @entitled %>
		<div class="badge badge-mt">Premium content! Subscribe now!</div>
  <% end %>
</div>