@import "bootstrap";

/* typography */
body {
  background: black;
  margin: 0 -10px;
}
h1 {
  font-size: 1.5em;
  margin-top: 12px;
  margin-left: 15px;
  color: white;
  font-weight: 600;
}

h2 {
  font-size: 1em;
  margin-top: 10px;
  margin-right: 15px;
  color: white;
  font-weight: 400;
}

/* header */

.col-1 {
  width: 50%;
}

.col-2 {
  width: 50%;
  text-align: right;
  margin-top: 10px;
  padding-right: 20px;
}

.navbar {
  background: black;
}

a {
    color: white;
    text-decoration: none;
    &:hover {
    color: grey;
    text-decoration: none;
  }
}

.login-logout {
  text-align: center;
}

/* pagination */

.page-button {
  color: white;
  font-weight: 500;
  padding-bottom: 20px;
  &:hover {
    color: lightgrey;
    text-decoration: none;
  }
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

/* video visualization */

.grid-video {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  column-gap: 0px;
  row-gap: 10px;
  justify-items: center;
  padding: 0 5px;
  padding-bottom: 20px;
}

.content-video {
  margin: 10px 0;
  padding: 0 10px;
}

.video-thumbnail {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

.badge {
  font-size: 0.8em;
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  color: white;
  margin: 0 35px;
}

.badge-mt {
  margin-top: 10px;
  margin-right: 120px;
  font-size: 1em;

}

/* login */

.login {
  margin-top: 50px;
}

.log-btn {
  margin-top: 25px;
  margin-bottom: 25px;
}

label {
  color: white;
  margin-top: 20px;
}