<header>
	<div class="row">
		<div class="col-1">
  		<h1><%= link_to "ZYPE CHALLENGE", root_path %></h1>
  	</div>
  	<div class="col-2">
  		<% if token_missing? %>
  			<h2><%= link_to "Login", login_path(header: true) %></h1>
  		<% else %>
  			<h2><%= link_to "Logout", logout_path %></h1>
  		<% end %>
  	</div>
  </div>
</header>