<!DOCTYPE html>
<html>
  <head>
    <title>Zype Challenge</title>
    <%= render 'layouts/default' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    	<%= yield %>
    </div>
  </body>
</html>
